# CSV files
*.csv

# Video files
*.mp4

# MediaPipe files
*.pkl

# Other files
*.log

# Results
Results/

# Enrichment
enriched_processed_data/

# Processed data
processed_data/
processed_data.zip


# Python
venv/

# macOS
.DS_Store